<md-progress-bar mode="indeterminate" color="accent" *ngIf="requestEnd!=true"></md-progress-bar>
<div class="parent-container">
	<div class="grid-10">&nbsp;</div>
	<pre class="code-container code-color grid-80">
		<code class="code-line">
			{{codeString}}
		</code>
	</pre>
	<div class="grid-10">
	  <span><button md-icon-button md-tooltip={{copyTooltip}} tooltipPosition="below" ngxClipboard [cbContent]="codeString" (cbOnSuccess)="copyTooltip='Code copied'"><md-icon>note</md-icon></button></span>
	</div>
</div>
<!--  
<pre>
	<code id="code">{{ node }}</code>
</pre>
-->
