<mat-card>
<section>
<h2>Input</h2>
<mat-form-field>
  <input matInput placeholder="User" value="user">
</mat-form-field>
<mat-form-field>
  <input matInput type="password" placeholder="Password">
</mat-form-field>
</section>

<section>
<h2>Textarea</h2>
<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
</mat-form-field>
<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Address 2"></textarea>
</mat-form-field>
</section>
</mat-card>