<section>
  <h2>fxLayout</h2>
  <h3>row</h3>
  <div fxLayout="row">
    <div class="container-1">1. One</div> 
    <div class="container-2">2. Two</div> 
    <div class="container-3">3. Three</div> 
    <div class="container-4">4. Four</div>
  </div>
  <h3>row-reverse</h3>
  <div fxLayout="row-reverse">
    <div class="container-1">1. One</div> 
    <div class="container-2">2. Two</div> 
    <div class="container-3">3. Three</div> 
    <div class="container-4">4. Four</div>
  </div>
  
  <h3>column</h3>
  <div fxLayout="column">
    <div class="container-1">1. One</div> 
    <div class="container-2">2. Two</div> 
    <div class="container-3">3. Three</div> 
    <div class="container-4">4. Four</div>
  </div>
  <h3>column-reverse</h3>
  <div fxLayout="column-reverse">
    <div class="container-1">1. One</div> 
    <div class="container-2">2. Two</div> 
    <div class="container-3">3. Three</div> 
    <div class="container-4">4. Four</div>
  </div>
</section>