md-card {
//  background-color: rgb(255,255,240);
}

mouseOver {
  cursor: hand;
}

mouseOut {
  cursor: default;
}

md-card-title:hover {
  cursor: pointer;
//  color: rgb(255,255,230);
//  background-color: rgb(100,50,220);
}

