mat-card {
  background-color: rgb(255,255,250);
}

mouseOver {
  cursor: hand;
}

mouseOut {
  cursor: default;
}

mat-card-title:hover {
  cursor: pointer;
  color: rgb(0, 0, 255);
//  background-color: rgb(100,50,220);
}

