<!--
<md-toolbar color="primary" class="fixed-top transparent-background">
	<md-toolbar-row>
	  <button md-button [routerLink]="['/home']" (click)="activeRoute='app-home'" class="app-home-button">{{title}}</button>
	  <button md-button [routerLink]="['/components']" (click)="activeRoute='app-components'">COMPONENTS</button>
 	  <button md-button [routerLink]="['/get-started']" (click)="activeRoute='app-get-started'">GET STARTED</button>
	  
	  <!-- This fills the remaining space of the current row --><!--
	  <span class="example-fill-remaining-space"></span>
    <div class="flex-container" fxLayout="row" *ngIf="activeRoute==='app-components'">
      <div class="flex-item">
        <button md-icon-button mdTooltip="View mode" mdTooltipPosition="below" (click)="listView=!listView"><md-icon>reorder</md-icon></button>
        <button md-icon-button mdTooltip="Expand / collapse" mdTooltipPosition="below" (click)="expand=!expand"><md-icon>swap_vert</md-icon></button>
        <button md-icon-button mdTooltip="Search" mdTooltipPosition="below" (click)="viewSearch=true" *ngIf="activeRoute==='app-components'"><md-icon>search</md-icon></button>
        <md-input-container dividerColor="accent" *ngIf="viewSearch && activeRoute==='app-components'">
        <input mdInput placeholder="Search" [(ngModel)]="listFilter" (ngModelChange)="appDataService.setListFilter(listFilter)" autofocus>
        </md-input-container>
        <button md-icon-button *ngIf="viewSearch && activeRoute==='app-components'" mdTooltip="Close search" mdTooltipPosition="below" (click)="viewSearch=!viewSearch; listFilter=''"><md-icon>clear</md-icon></button>
      </div> 
    </div>
  </md-toolbar-row>
</md-toolbar>
-->

<app-application-toolbar></app-application-toolbar>

<router-outlet></router-outlet>

<!--
<div class="app-container">
		<div *ngFor="let component of components; let i=index" [ngClass]="{'grid-50': !listView }">
		  <app-common-card *ngIf="showCard(component.cardTitle)" 
		  				   			[title]="component.cardTitle"
		                   [toolbarTitle] = "component.toolbarTitle"
		                   [tabs]="component.tabs"
		                   [codeUrls]="component.codeUrls"
		                   [tag]="i"
		                   [showContent]="expand"
		                   (expandUpdated)="handleExpandUpdated($event)">
		  </app-common-card>
		</div>
</div>
-->