<mat-toolbar color="primary" class="fixed-top transparent-background mat-elevation-z10">
  <mat-toolbar-row>
		<!-- This fills the remaining space of the current row -->
		<span class="example-fill-remaining-space"></span>
	  <button mat-icon-button matTooltip="Toggle Fullscreen" matTooltipPosition="left" toggleFullscreen><mat-icon>fullscreen</mat-icon></button>
  </mat-toolbar-row>

	<mat-toolbar-row>
	  <button mat-button [routerLink]="['/']" routerLinkActive="active" (click)="activeRoute='app-home'" class="app-home-button">{{title}}</button>
	  <button mat-button [routerLink]="['/components']" routerLinkActive="active" [routerLinkActiveOptions] ="{ exact: true }" (click)="activeRoute='app-components'" class="app-menu-button">COMPONENTS</button>
 	  <button mat-button [routerLink]="['/get-started']" routerLinkActive="active" (click)="activeRoute='app-get-started'" class="app-menu-button">GET STARTED</button>
	  
	  <!-- This fills the remaining space of the current row -->
	  <span class="example-fill-remaining-space"></span>
    <div class="flex-container" fxLayout="row" *ngIf="activeRoute==='app-components'">
      <div class="flex-item">
        <button mat-icon-button matTooltip="View mode" matTooltipPosition="below" (click)="listView=!listView"><mat-icon>reorder</mat-icon></button>
        <button mat-icon-button matTooltip="Expand / collapse" matTooltipPosition="below" (click)="expand=!expand"><mat-icon>swap_vert</mat-icon></button>
        <button mat-icon-button matTooltip="Search" matTooltipPosition="below" (click)="viewSearch=true" *ngIf="activeRoute==='app-components'"><mat-icon>search</mat-icon></button>
        <mat-form-field dividerColor="accent" *ngIf="viewSearch && activeRoute==='app-components'">
        <input matInput placeholder="Search" [(ngModel)]="listFilter" (ngModelChange)="appDataService.setListFilter(listFilter)" autofocus>
        </mat-form-field>
        <button mat-icon-button *ngIf="viewSearch && activeRoute==='app-components'" matTooltip="Close search" matTooltipPosition="below" (click)="viewSearch=!viewSearch; listFilter=''"><mat-icon>clear</mat-icon></button>
      </div> 
    </div>
  </mat-toolbar-row>
</mat-toolbar>
