<!--
<mat-toolbar color="primary" class="fixed-top transparent-background">
	<mat-toolbar-row>
	  <button mat-button [routerLink]="['/home']" (click)="activeRoute='app-home'" class="app-home-button">{{title}}</button>
	  <button mat-button [routerLink]="['/components']" (click)="activeRoute='app-components'">COMPONENTS</button>
 	  <button mat-button [routerLink]="['/get-started']" (click)="activeRoute='app-get-started'">GET STARTED</button>
	  
	  <!-- This fills the remaining space of the current row --><!--
	  <span class="example-fill-remaining-space"></span>
    <div class="flex-container" fxLayout="row" *ngIf="activeRoute==='app-components'">
      <div class="flex-item">
        <button mat-icon-button tooltip="View mode" tooltipPosition="below" (click)="listView=!listView"><mat-icon>reorder</mat-icon></button>
        <button mat-icon-button tooltip="Expand / collapse" tooltipPosition="below" (click)="expand=!expand"><mat-icon>swap_vert</mat-icon></button>
        <button mat-icon-button tooltip="Search" tooltipPosition="below" (click)="viewSearch=true" *ngIf="activeRoute==='app-components'"><mat-icon>search</mat-icon></button>
        <mat-form-field dividerColor="accent" *ngIf="viewSearch && activeRoute==='app-components'">
        <input matInput placeholder="Search" [(ngModel)]="listFilter" (ngModelChange)="appDataService.setListFilter(listFilter)" autofocus>
        </mat-form-field>
        <button mat-icon-button *ngIf="viewSearch && activeRoute==='app-components'" tooltip="Close search" tooltipPosition="below" (click)="viewSearch=!viewSearch; listFilter=''"><mat-icon>clear</mat-icon></button>
      </div> 
    </div>
  </mat-toolbar-row>
</mat-toolbar>
-->

<app-application-toolbar></app-application-toolbar>

<router-outlet></router-outlet>

<!--
<div class="app-container">
		<div *ngFor="let component of components; let i=index" [ngClass]="{'grid-50': !listView }">
		  <app-common-card *ngIf="showCard(component.cardTitle)" 
		  				   			[title]="component.cardTitle"
		                   [toolbarTitle] = "component.toolbarTitle"
		                   [tabs]="component.tabs"
		                   [codeUrls]="component.codeUrls"
		                   [tag]="i"
		                   [showContent]="expand"
		                   (expandUpdated)="handleExpandUpdated($event)">
		  </app-common-card>
		</div>
</div>
-->