/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html, body { 
  background-color: rgb(240,240,240);
  padding: 0 5px 0 5px;
}

md-card { 
  margin-top: 20px;
}

md-toolbar { 
  margin-bottom: 20px;
}

.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.grid { 
  float: left;
  display: inline-block; 
  background-color: rgba(0,0,0,0);
}

.grid-5 { 
  @extend .grid;
  width: 5%;
}

.grid-10 { 
  @extend .grid;
  width: 10%;
}

.grid-20 { 
  @extend .grid;
  width: 20%;
}

.grid-30 { 
  @extend .grid;
  width: 30%;
}

.grid-40 { 
  @extend .grid;
  width: 40%;
}

.grid-50 { 
  @extend .grid;
  width: 50%;
}

.grid-60 { 
  @extend .grid;
  width: 60%;
}

.grid-70 { 
  @extend .grid;
  width: 70%;
}

.grid-80 { 
  @extend .grid;
  width: 80%;
}

.grid-90 { 
  @extend .grid;
  width: 90%;
}

