/* You can add global styles to this file, and also import other style files */

//@import '~@angular/material/core/theming/all-theme';
@import '~@angular/material/theming';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$my-app-primary: mat-palette($mat-teal);
$my-app-accent: mat-palette($mat-amber);
$my-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-app-theme);

html, body { 
	margin-top: 75px;
  background-color: rgb(240,240,240);
  padding: 0 5px 0 5px;
  font-family: Roboto;
}

mat-card { 
  margin-top: 20px;
}

mat-toolbar { 
  margin-bottom: 20px;
}

.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.grid { 
  float: left;
  display: inline-block; 
  background-color: rgba(0,0,0,0);
}

.grid-5 { 
  @extend .grid;
  width: 5%;
}

.grid-10 { 
  @extend .grid;
  width: 10%;
}

.grid-20 { 
  @extend .grid;
  width: 20%;
}

.grid-30 { 
  @extend .grid;
  width: 30%;
}

.grid-40 { 
  @extend .grid;
  width: 40%;
}

.grid-50 { 
  @extend .grid;
  width: 50%;
}

.grid-60 { 
  @extend .grid;
  width: 60%;
}

.grid-70 { 
  @extend .grid;
  width: 70%;
}

.grid-80 { 
  @extend .grid;
  width: 80%;
}

.grid-90 { 
  @extend .grid;
  width: 90%;
}

