<mat-card>

  <section>
    <h3> Active buttons</h3>  
    <button mat-button>FLAT</button>
    <button mat-raised-button color="primary">PRIMARY</button>
    <button mat-raised-button color="accent">ACCENT</button>
    <button mat-raised-button color="warn">WARN</button>
  </section>

  <section>
    <h3>Disabled buttons</h3>  
    <button mat-button disabled>FLAT</button>
    <button mat-raised-button color="primary" disabled>PRIMARY</button>
    <button mat-raised-button color="accent" [disabled]="true">ACCENT</button>
    <button mat-raised-button color="warn" [disabled]="true">WARN</button>
  </section>

  <section>
    <h3>Fab and mini fab buttons</h3>  
    <button mat-fab><mat-icon>check</mat-icon></button>
    <button mat-mini-fab><mat-icon>check</mat-icon></button>  
  </section>

  <section>
    <h3>Link Buttons</h3>
    <a mat-button routerLink="http://www.google.com">Flat button</a>
    <a mat-raised-button routerLink=".">Raised button</a>
    <a mat-fab routerLink="."><mat-icon>check</mat-icon></a>
    <a mat-mini-fab routerLink="."><mat-icon>check</mat-icon></a>
      <a
        mat-button
        color="primary"
        href="http://www.google.com"
        target="_blank">Google</a>
  </section>

</mat-card>
	