<md-card>
<section>
<h2>Input</h2>
<md-input-container>
  <input mdInput placeholder="User" value="user">
</md-input-container>
<md-input-container>
  <input mdInput type="password" placeholder="Password">
</md-input-container>
</section>

<section>
<h2>Textarea</h2>
<md-input-container class="example-full-width">
  <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
</md-input-container>
<md-input-container class="example-full-width">
  <textarea mdInput placeholder="Address 2"></textarea>
</md-input-container>
</section>
</md-card>